*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
} 
::placeholder {
    color: #3276c3;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #3276c3;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #3276c3;
  }